{
  "builders": [
    {
      "access_key": "{{user `aws_access_key`}}",
      "ami_name": "packer-example {{timestamp}}",
      "instance_type": "t2.micro",
      "region": "us-east-1",
      "secret_key": "{{user `aws_secret_key`}}",
      "source_ami_filter": {
        "filters": {
          "name": "*ubuntu-xenial-16.04-amd64-server-*",
          "root-device-type": "ebs",
          "virtualization-type": "hvm"
        },
        "most_recent": "true",
        "owners": [
          "099720109477"
        ]
      },
      "ssh_username": "ubuntu",
      "type": "amazon-ebs"
    }
  ],
  "variables": {
    "aws_access_key": "",
    "aws_secret_key": ""
  }
}
